* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 300px;
}

h1 {
  margin: 10px 0;
}

h2 {
  margin-top: 10px;
}

p {
  color: gray;
  margin-top: 5px;
  margin-bottom: 10px;
}

.container-div {
  text-align: center;
  margin: 0 auto;
  width: calc(100% - 50px);
  height: 700px;
  background-color: whitesmoke;
  margin-top: 10px;
  padding: 5px;
}

.items-container {
  margin-top: 30px;
}

.item {
  width: calc(33.3% - 20px);
  float: left;
  background-color: white;
  margin: 10px 10px;
}

.clearfix {
  clear: both;
}
